.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: all ease-out 500ms;
  transform: translateY(-50%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all ease-out 500ms;
  -moz-transition: all ease-out 500ms;
  -ms-transition: all ease-out 500ms;
  -o-transition: all ease-out 500ms;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.loading-screen .container {
  margin-top: 150px;
}

.opanone {
  opacity: 0;
}

.dynamic-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.dynamic-nav .contents {
  display: flex;
  flex-direction: row;
  width: 95%;
  background-color: rgba(0, 0, 255, 0.301);
  padding: 6px 12px 6px 12px;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.dynamic-nav .contents .page-shortcut {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.dynamic-nav .contents .page-shortcut p {
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  color: rgb(189, 189, 189);
  transition: all ease-in-out 150ms;
  -webkit-transition: all ease-in-out 150ms;
  -moz-transition: all ease-in-out 150ms;
  -ms-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
}

.dynamic-nav .contents .page-shortcut p::before {
  content: '';
  position: absolute;
  top: 92%;
  bottom: 0px;
  width: 0%;
  height: 1px;
  background-color: aliceblue;
  transition: all ease-in-out 160ms;
  -webkit-transition: all ease-in-out 160ms;
  -moz-transition: all ease-in-out 160ms;
  -ms-transition: all ease-in-out 160ms;
  -o-transition: all ease-in-out 160ms;
}

.dynamic-nav .contents .page-shortcut p:hover {
  transform: scale(1.05);
  color: white;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.dynamic-nav .contents .page-shortcut p:hover::before {
  width: 100%;
  box-shadow: 0 0 5px 1px white;
}

.dynamic-nav .contents .page-shortcut .active {
  color: white;
}

.dynamic-nav .contents .list-sosmed {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.dynamic-nav .contents .list-sosmed p {
  margin-bottom: 0;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out 150ms;
  -webkit-transition: all ease-in-out 150ms;
  -moz-transition: all ease-in-out 150ms;
  -ms-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
}

.dynamic-nav .contents .list-sosmed p::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 1%;
  width: 100%;
  transition: all ease-in-out 200ms;
  -webkit-transition: all ease-in-out 200ms;
  -moz-transition: all ease-in-out 200ms;
  -ms-transition: all ease-in-out 200ms;
  -o-transition: all ease-in-out 200ms;
}

.dynamic-nav .contents .list-sosmed p:hover {
  transform: scale(1.15) rotate(20deg);
  -webkit-transform: scale(1.15) rotate(20deg);
  -moz-transform: scale(1.15) rotate(20deg);
  -ms-transform: scale(1.15) rotate(20deg);
  -o-transform: scale(1.15) rotate(20deg);
}

.dynamic-nav .contents .list-sosmed p:hover::before {
  background-color: aliceblue;
  height: 1px;
  box-shadow: 0 0 5px 1px white;
  transform: rotate(-20deg) translateX(5px);
  -webkit-transform: rotate(-20deg) translateX(5px);
  -moz-transform: rotate(-20deg) translateX(5px);
  -ms-transform: rotate(-20deg) translateX(5px);
  -o-transform: rotate(-20deg) translateX(5px);
}